# Selecting Subsets of Data from DataFrames (Brackets, Loc, iloc)

## Exercises

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 1

<span  style="color:green; font-size:16px">Select the column with the director's name as a Series</span>

In [2]:
movie['director_name']

title
Avatar                                            James Cameron
Pirates of the Caribbean: At World's End         Gore Verbinski
Spectre                                              Sam Mendes
The Dark Knight Rises                         Christopher Nolan
Star Wars: Episode VII - The Force Awakens          Doug Walker
                                                    ...
Signed Sealed Delivered                             Scott Smith
The Following                                               NaN
A Plague So Pleasant                           Benjamin Roberds
Shanghai Calling                                    Daniel Hsia
My Date with Drew                                      Jon Gunn
Name: director_name, Length: 4916, dtype: object

### Exercise 2

<span  style="color:green; font-size:16px">Select the column with the director's name and number of Facebook likes.</span>

In [3]:
movie[['director_name','director_fb']]

                                                director_name  director_fb
title
Avatar                                          James Cameron          0.0
Pirates of the Caribbean: At World's End       Gore Verbinski        563.0
Spectre                                            Sam Mendes          0.0
The Dark Knight Rises                       Christopher Nolan      22000.0
Star Wars: Episode VII - The Force Awakens        Doug Walker        131.0
...                                                       ...          ...
Signed Sealed Delivered                           Scott Smith          2.0
The Following                                             NaN          NaN
A Plague So Pleasant                         Benjamin Roberds          0.0
Shanghai Calling                                  Daniel Hsia          0.0
My Date with Drew                                    Jon Gunn         16.0

[4916 rows x 2 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Select a single column as a DataFrame and not a Series</span>

In [4]:
movie[['director_fb']]

                                            director_fb
title
Avatar                                              0.0
Pirates of the Caribbean: At World's End          563.0
Spectre                                             0.0
The Dark Knight Rises                           22000.0
Star Wars: Episode VII - The Force Awakens        131.0
...                                                 ...
Signed Sealed Delivered                             2.0
The Following                                       NaN
A Plague So Pleasant                                0.0
Shanghai Calling                                    0.0
My Date with Drew                                  16.0

[4916 rows x 1 columns]

### Exercise 4

<span  style="color:green; font-size:16px">Look in the data folder and read in another dataset. Select some columns from it.</span>

In [5]:
beer = pd.read_csv('../data/beer.csv')
beer[['name']]

                             name
0                         Rug IPA
1                      Wai Weizen
2                  Wheat-Oats Ale
3                   Nut Brown Ale
4                   Vincent's IPA
...                           ...
25062           Fire in the hole!
25063             Wild Tripel Hop
25064  Sanders/Foster IIPA 7/3/16
25065  Pineapple Midnight Express
25066           Irish Bulldog Red

[25067 rows x 1 columns]

# Selecting Subsets of Data from DataFrames with `loc`

## Exercises

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [6]:
pd.set_option('display.max_columns', 50)
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 1

<span  style="color:green; font-size:16px">Select columns `actor1`, `actor2`, and `actor3` for the movies 'Home Alone' and 'Top Gun'.</span>

In [7]:
movie.loc[['Home Alone','Top Gun'] , ['actor1', 'actor2', 'actor3']]

                     actor1        actor2            actor3
title
Home Alone  Macaulay Culkin  Devin Ratray  Catherine O'Hara
Top Gun          Tom Cruise  Tom Skerritt     Adrian Pasdar

### Exercise 2

<span  style="color:green; font-size:16px">Select columns `actor1`, `actor2`, and `actor3` for all of the movies beginning at 'Home Alone' and ending at 'Top Gun'.</span>

In [8]:
movie.loc['Home Alone':'Top Gun' , ['actor1', 'actor2', 'actor3']]

                           actor1          actor2            actor3
title
Home Alone        Macaulay Culkin    Devin Ratray  Catherine O'Hara
3 Men and a Baby      Tom Selleck      Ted Danson  Steve Guttenberg
Tootsie               Bill Murray  Sydney Pollack         Teri Garr
Top Gun                Tom Cruise    Tom Skerritt     Adrian Pasdar

### Exercise 3

<span  style="color:green; font-size:16px">Select just the `director_name` column for the movies 'Home Alone' and 'Top Gun'.</span>

In [9]:
movie.loc[['Home Alone','Top Gun'] , ['director_name']]

             director_name
title
Home Alone  Chris Columbus
Top Gun         Tony Scott

### Exercise 4

<span  style="color:green; font-size:16px">Select all columns for the movie 'The Dark Knight Rises'.</span>

In [10]:
movie.loc[['The Dark Knight Rises'] , :]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5

### Exercise 5

<span  style="color:green; font-size:16px">Select all columns for the movies 'Tangled' and 'Avatar'.</span>

In [11]:
movie.loc[['Tangled' , 'Avatar'] , :]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,M.C. Gainey,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9

### Exercise 6

<span  style="color:green; font-size:16px">What year was 'Tangled' and 'Avatar' made and what was their IMBD scores?</span>

In [12]:
movie.loc[['Tangled' , 'Avatar'] , ['year','imdb_score']]

           year  imdb_score
title
Tangled  2010.0         7.8
Avatar   2009.0         7.9

### Exercise 7

<span  style="color:green; font-size:16px">Select every 300th movie between 'Tangled' and 'Forrest Gump'. Why doesn't 'Forrest Gump' appear in the results?</span>

In [13]:
movie.loc['Tangled' : 'Forrest Gump': 300 , :]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,M.C. Gainey,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Cloud Atlas,2012.0,Color,R,172.0,Tom Tykwer,670.0,Tom Hanks,15000.0,Jim Sturgess,5000.0,Jim Broadbent,1000.0,27098580.0,Drama|Sci-Fi,511.0,284825,composer|future|letter|nonlinear timeline|nurs...,English,Germany,102000000.0,7.5
Doom,2005.0,Color,R,113.0,Andrzej Bartkowiak,43.0,Dwayne Johnson,12000.0,Ben Daniels,585.0,Dexter Fletcher,452.0,28031250.0,Action|Adventure|Horror|Sci-Fi,237.0,88146,commando unit|extra chromosome|first person sh...,English,UK,60000000.0,5.2

## Selecting Subsets of Data from DataFrames with `iloc`

## Exercises

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [14]:
pd.set_option('display.max_columns', 50)
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 1

<span  style="color:green; font-size:16px">Select the columns with integer location 10, 5, and 1.</span>

In [15]:
movie.iloc[: , [10, 5, 1]]

,actor3,director_fb,color
title,,,
Avatar,Wes Studi,0.0,Color
Pirates of the Caribbean: At World's End,Jack Davenport,563.0,Color
Spectre,Stephanie Sigman,0.0,Color
The Dark Knight Rises,Joseph Gordon-Levitt,22000.0,Color
Star Wars: Episode VII - The Force Awakens,NaN,131.0,NaN
...,...,...,...
Signed Sealed Delivered,Crystal Lowe,2.0,Color
The Following,Sam Underwood,NaN,Color
A Plague So Pleasant,David Chandler,0.0,Color
Shanghai Calling,Eliza Coupe,0.0,Color
My Date with Drew,Jon Gunn,16.0,Color

### Exercise 2

<span  style="color:green; font-size:16px">Select the rows with integer location 10, 5, and 1.</span>

In [16]:
movie.iloc[[10, 5, 1], :]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Batman v Superman: Dawn of Justice,2016.0,Color,PG-13,183.0,Zack Snyder,0.0,Henry Cavill,15000.0,Lauren Cohan,4000.0,Alan D. Purwin,2000.0,330249062.0,Action|Adventure|Sci-Fi,673.0,371639,based on comic book|batman|sequel to a reboot|...,English,USA,250000000.0,6.9
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,Polly Walker,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1

### Exercise 3

<span  style="color:green; font-size:16px">Select rows with integer location 100 to 104 along with the column integer location 5.</span>

In [17]:
movie.iloc[100 : 105, [5]]

                                       director_fb
title
The Fast and the Furious                     357.0
The Curious Case of Benjamin Button        21000.0
X-Men: First Class                           905.0
The Hunger Games: Mockingjay - Part 2        508.0
The Sorcerer's Apprentice                    226.0

### Exercise 4

<span  style="color:green; font-size:16px">Select the value at row integer location 100 and column integer location 4.</span>

In [18]:
movie.iloc[100, 4]

'Rob Cohen'

### Exercise 5

<span  style="color:green; font-size:16px">Return the result of exercise 4 as a DataFrame.</span>

In [19]:
movie.iloc[[100], [4]]

                         director_name
title
The Fast and the Furious     Rob Cohen

### Exercise 6

<span  style="color:green; font-size:16px">Select the last 5 rows of the last 5 columns.</span>

In [20]:
movie.iloc[-5 : , -5 : ]

,plot_keywords,language,country,budget,imdb_score
title,,,,,
Signed Sealed Delivered,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
The Following,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
A Plague So Pleasant,NaN,English,USA,1400.0,6.3
Shanghai Calling,NaN,English,USA,NaN,6.3
My Date with Drew,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

### Exercise 7

<span  style="color:green; font-size:16px">Select every 25th row between rows with integer location 100 and 200 along with every fifth column.</span>

In [21]:
movie.iloc[100:200:25, ::5]

,year,director_fb,actor3,num_voted_users,imdb_score
title,,,,,
The Fast and the Furious,2001.0,357.0,Jordana Brewster,272223,6.7
Frozen,2013.0,69.0,Livvy Stubenrauch,421658,7.6
Armageddon,1998.0,0.0,Will Patton,322395,6.6
The Incredible Hulk,2008.0,255.0,William Hurt,326286,6.8

### Exercise 8

<span  style="color:green; font-size:16px">Select the column with integer location 7 as a Series.</span>

In [22]:
movie.iloc[: , 7]

title
Avatar                                         1000.0
Pirates of the Caribbean: At World's End      40000.0
Spectre                                       11000.0
The Dark Knight Rises                         27000.0
Star Wars: Episode VII - The Force Awakens      131.0
                                               ...
Signed Sealed Delivered                         637.0
The Following                                   841.0
A Plague So Pleasant                              0.0
Shanghai Calling                                946.0
My Date with Drew                                86.0
Name: actor1_fb, Length: 4916, dtype: float64

### Exercise 9

<span  style="color:green; font-size:16px">Select the rows with integer location 999, 99, and 9 and the columns with integer location 9 and 19.</span>

In [23]:
movie.iloc[[999, 99, 9], [9,19]]

                                        actor2_fb       budget
title
The Iron Giant                              631.0   70000000.0
The Hobbit: An Unexpected Journey           972.0  180000000.0
Harry Potter and the Half-Blood Prince    11000.0  250000000.0